{{!-- <!-- Loop over each object in the projects array -->
{{#each projects as |project| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/project/{{project.id}}">{{project.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount project.needed_funding}}</span>
      needed!
    </p>
    <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{project.description}}
    </p>
  </div>
</div>
{{/each}} --}}

 <div style=" max-height: 100vh;">  
                <div class="row" style="height: 500px; margin-bottom: 30px; margin-top:30px;">
                    <!-- Hero Section -->
                    <div class="col-md-5">
                        <hero class="text-start bubble">
                            <h1 class="hero-title">Welcome to BrimLoft</h1>
                            <p class="hero-descrip2">Elevate Your Style</p>
                            <p class="hero-descrip"> "When I'm feeling low, I buy a hat. It gives me a lift." Mae West</p>
                            {{!-- <button class="hero-button1">TEST</button>
                            <button class="hero-button2">TEST</button> --}}
                        </hero>
                    </div>

                    <div class="col-md-7" style="overflow: hidden;">
                        <div id="carouselExample" class="carousel slide" style="width: 30vw; height: 40vh;">
                            <div class="carousel-inner " style="width: 100%; height: 100%;">
                                <div class="carousel-item active" style="width: 100%; height: 100%;">
                                    <img src="/images/sports.png" class="d-block w-100 rounded-5" alt="..."
                                        style="width: 100%; height: 100%; object-fit: cover;">
                                    <div class="carousel-caption top-0 mt-4">
                                        <p class="mt-5 fs-3 text-uppercase">Show your team spirit</p>
                                        <h1 class="display-1 fw-bolder text-capitalize">Sports</h1>
                                        <a href="/leagues/1" class="btn btn-primary px-4 py-2 fs-5 mt-4">SHOP</a>
                                    </div>
                                </div>
                                <div class="carousel-item" style="width: 100%; height: 100%;">
                                    <img src="/images/beach-hats.jpg" class="d-block w-100 rounded-5"
                                        alt="..." style="width: 100%; height: 100%; object-fit: cover;">
                                    <div class="carousel-caption top-0 mt-4">
                                        <p class="mt-5 fs-3 text-uppercase">A Selection of the Classics</p>
                                        <h1 class="display-1 fw-bolder text-capitalize">Basics</h1>
                                        <a href="/categories/2" class="btn btn-primary px-4 py-2 fs-5 mt-4">SHOP</a>
                                    </div>
                                </div>
                                <div class="carousel-item" style="width: 100%; height: 100%;">
                                    <img src="/images/mens-hat-styles.jpg" class="d-block w-100 rounded-5" alt="..."
                                        style="width: 100%; height: 100%; object-fit: cover;">
                                    <div class="carousel-caption top-0 mt-4">
                                        <p class="mt-5 fs-3 text-uppercase">Need something more specific?</p>
                                        <h1 class="display-1 fw-bolder text-capitalize">Specialty</h1>
                                        <a href="/categories/5" class="btn btn-primary px-4 py-2 fs-5 mt-4">SHOP</a>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>