{{!-- List of Products
<h1>Our Products</h1>

<section class="product-list">
  {{#each products}}
    <article class="product-item">
      <img src="{{this.image_url}}" alt="{{this.name}}" class="product-image">
      <h2 class="product-name"><a href="/product/{{this.id}}">{{this.name}}</a></h2>
      <p class="product-description">{{this.description}}</p>
      <p class="product-price">$ {{this.price}}</p>
      {{#if this.Tags}}
        <ul class="product-tags">
          {{#each this.Tags}}
            <li>{{this.name}}</li>
          {{/each}}
        </ul>
      {{/if}}
      <a href="/product/{{this.id}}" class="product-detail-link">View Details</a>
    </article>
  {{else}}
    <p>No products found.</p>
  {{/each}}
</section> --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ productData.name }}</title>
    <!-- Add any additional styles or meta tags as needed -->
</head>
<body>
    <h1>{{ productData.name }}</h1>

    <div>
      
        <p>Product Name: {{ productData.dataValues.name }}</p>
        <p>Description: {{ productData.dataValues.description }}</p>
        <img src="{{ productData.dataValues.image1_url }}" alt="{{ productData.dataValues.name }}">
        <p>Price: ${{ productData.dataValues.price }}</p>
        <p>Rating: {{ productData.dataValues.rating }} / 5</p>
        <p>Number of Reviews: {{ productData.dataValues.num_of_reviews }}</p>
        <p>Number in Stock: {{ productData.dataValues.num_in_stock }}</p>
    </div>

    <!-- Include any additional HTML elements or formatting as needed -->

    {{!-- Include any JavaScript files or scripts if needed --}}
</body>
</html>
</body>
</html>
