


<h2>User Profile: {{user.username}}</h2>
<div class="user-details">
  <p>Full Name: {{user.firstName}} {{user.lastName}}</p>
  <p>Email: {{user.email}}</p>
  <p>Address: {{user.address}}</p>
  <!-- Add more user details here -->
  <!-- Profile Picture -->
  {{#if user.profilePicture}}
    <img src="{{user.profilePicture}}" alt="Profile Picture">
  {{/if}}
</div>

<!-- Orders Section -->
<h3>Your Orders:</h3>
{{#if user.orders}}
  <ul class="orders-list">
    {{#each user.orders}}
      <li>
        <a href="/order/{{this.id}}">Order #{{this.id}} - {{formatCurrency this.total}}</a>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>You have no orders.</p>
{{/if}}

<!-- Reviews Section -->
<h3>Your Reviews:</h3>
{{#if user.reviews}}
  <ul class="reviews-list">
    {{#each user.reviews}}
      <li>
        <p>{{this.content}}</p>
        <p>Rating: {{this.rating}} stars</p>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>You have not written any reviews.</p>
{{/if}}

<!-- Navigation Links -->
<div class="profile-navigation">
  <a href="/edit-profile">Edit Profile</a>
  <a href="/logout" class="logout-button">Logout</a>
</div>

